<!DOCTYPE html>
<html>
<head>
<title>Items Available</title>
<style>
body{
background-color:aqua;
}
h1{
font-family:timesnewroman;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1><center>ITEMS AVAILABLE</center></h1>
<a href='/User' class='topnav-icons fa fa-sign-out  w3-bar-item w3-button'style=float:right color:white>Back</a>
<ul>
<b>SHIRTS</b><br>
<br>
<li>Lycra Shirt</li><br>
<li>Checked Shirt</li><br>
<li>Strain Proof</li><br>
<li>Formals</li><br>
<li>Casuals </li><br>
<b>PANTS</b><br>
<br>
<li>Lycra</li><br>
<li>Jeans</li><br>
<li>Cotton</li><br>
<li>Checked</li><br>
<li>Tan Jean</li><br>
</ul>
</head>
</html>
