<!DOCTYPE html>
<html>
<head>
<title>About us</title>
<style>
body{
background-color:aqua;
}
h1{
font-family:timesnewroman;
}
</style>
<body>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1><center>ABOUT US</center></h1>
<a href='/' class='topnav-icons fa fa-sign-out  w3-bar-item w3-button'style=float:right color:white>Back</a>

A recommendation system is a system that is programmed to predict future preferable items from a large set of collections.<br>

<br>A recommendation system works either by using user preferences or by using the items most preferred by all users.<br>
<br>
The main challenge in building a fashion recommendation system is that it is a very dynamic industry.<br>
<br>
It changes very often when it comes to seasons, festivals, pandemic conditions like coronavirus and many more.
</body>
</head>
</html>