<!DOCTYPE html>
<html>
<head>
<title>Contact Us</title>
</head>
<style>
body{
background-color:aqua;
}
</style>
<body>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>CONTACT US</h1>
<a href='/User' class='topnav-icons fa fa-sign-out  w3-bar-item w3-button'style=float:right color:white>Back</a>


SARAVANAN<br>
Email ID:saravanan@gmail.com<br>
Mobile:6380604017<br>
Visit Us:www.sfra.com<br>

</body>
</html>
